@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
  min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    background-color: white;
    padding: 1rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: rgb(108, 108, 108);
}

nav a:hover:not(#link-nome-topo) {
    color: teal;
    font-weight: 700;
}

.nome-topo a {
    font-size: 1.5em;
    font-weight: 400;
}

.nome-topo a span {
    color: teal;
}

.links-topo {
    width: 230px;
    display: flex;
    justify-content: space-around;
}

.links-topo a {
    text-transform: uppercase;
}

.imagem-principal {
    min-height: 70vh;
    background:rgb(95, 193, 245) url('assets/img-fundo.jpg') left center/cover no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.card-principal {
    border: 1px solid white;
    background:rgba(0, 139, 139, 0.8);
    color: white;
    text-align: center;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem;
}

h1 {
    font-weight: 700;
    font-size: 3em;
}

.card-principal p {
    font-weight: 300;
    font-size: 1.5em;
}

/* main */

.sessao-detalhes-quarto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
}

.sessao-detalhes-quarto:last-of-type {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.textos-detalhes-quarto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    padding: 2rem;
    margin-top: 5rem;
}

.textos-detalhes-quarto h2 {
    font-size: 2em;
    font-weight: 400;
    color: teal;
}

.textos-detalhes-quarto p {
    color: rgb(108, 108, 108);
    margin-top: 2rem;
}

.fotos-detalhes-quarto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item-fotos-quarto {
    min-width: 350px;
    min-height: 320px;
    margin: 1rem;
    transition: transform 0.2s ease-in-out 0.1s;
}

.item-fotos-quarto:hover {
    transform: scale(1.1);
}

/* ajustes divs das fotos */

#quarto-solteiro-1 {
    background:rgb(108, 108, 108) url('assets/quarto-solteiro1.jpg') center/cover no-repeat;
}

#quarto-solteiro-2 {
    background:rgb(108, 108, 108) url('assets/quarto-solteiro2.jpg') center/cover no-repeat;
}

#quarto-solteiro-3 {
    background:rgb(108, 108, 108) url('assets/quarto-solteiro3.jpg') center/cover no-repeat;
}

#quarto-casal-1 {
    background:rgb(108, 108, 108) url('assets/quarto-casal1.jpg') center/cover no-repeat;
}

#quarto-casal-2 {
    background:rgb(108, 108, 108) url('assets/quarto-casal2.jpg') center/cover no-repeat;
}

#quarto-casal-3 {
    background:rgb(108, 108, 108) url('assets/quarto-casal3.jpg') center/cover no-repeat;
}

#quarto-familia-1 {
    background:rgb(108, 108, 108) url('assets/quarto-familia1.jpg') center/cover no-repeat;
}

#quarto-familia-2 {
    background:rgb(108, 108, 108) url('assets/quarto-familia2.jpg') center/cover no-repeat;
}

#quarto-familia-3 {
    background:rgb(108, 108, 108) url('assets/quarto-familia3.jpg') center/cover no-repeat;
}

/*########*/

.informacoes-detalhes-quarto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
}

.informacoes-detalhes-quarto h3 {
    font-size: 1.2em;
    color:rgb(80, 80, 80);
}

.informacoes-detalhes-quarto ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    max-width: 1220px;
}

.informacoes-detalhes-quarto ul li {
    width: 25%;
    text-align: left;
    margin: 10px 15px;
    justify-self: center;
}



/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    background-color: teal;
    color: white;
    flex: 1 0 auto;
}

.contato-rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textos-links-rodape {
    width: 250px;
}

.texto-links-rodape h2 {
    font-size: 1.4em;
    font-weight: 700;
}

.texto-links-rodape p {
    padding: 0.9em;
    font-weight: 300;
    font-size: 0.9em;
}

.texto-links-rodape a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: 300;
}

.texto-links-rodape a:hover {
    font-weight: 400;
}

.links-rodape {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgb(20, 90, 90); 
    padding: 1rem;
}

.item-links-rodape {
    display: flex;
    padding: 1rem;
}

.icone-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-rodape {
    text-align: center;
    padding: 1.5rem;
}

.copyright-rodape p {
    font-weight: 300;
    font-size: 0.9em;
}

.copyright-rodape a {
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}